
body {
   background-image: url(Portfolio/images/hollow.jpeg);

     }
.position-left{
   align-content: left
}

#request {
  border-style: inset;
  border-spacing: 3px;
  outline-color:limegreen;
  outline-width:thick;
  padding: 3px;
}
/*
div.footer {
  position:fixed;
  left: 0;
  width:100%;
  background-color:inherit;
  text-align: justify;
*/
.navbar-brand{
  float: left;
}
footer.site-footer{
  background-color: black;
   height: inherit;
}

  h2 {
  font-size:30px;
  font-family:monospace;
  font-weight:bold;
  text-decoration: underline;
}
 #about{
  text-align: center;
}
p.large {
  font-size: 20px;
  background-color:grey;
}
